{erl_opts, [
  debug_info, fail_on_warning, warn_missing_spec
]}.
{cover_enabled, 
  true
}.
{clean_files, [
  "*.eunit",
  "ebin/*.beam"
]}.
{eunit_opts, [
  verbose, {report,
    {eunit_surefire, [
      {dir, "."}
    ]}
  }
]}.
{dialyzer_opts, [
  {warnings, [
    no_unused,
    no_improper_lists, 
    no_fun_app, 
    no_match,
    no_opaque, no_fail_call,
    error_handling, no_match,
    unmatched_returns,
    behaviours, 
    underspecs
   ]}
]}.
{deps_dir, [
  "deps"
]}.
{require_opt_vsn,
  "R16"
}.