{sub_dirs, [
  "app",
  "rel"
]}.
{erl_opts, [
  debug_info, fail_on_warning, warn_missing_spec
]}.
{cover_enabled, 
  true
}.
{clean_files, [
  "*.eunit",
  "ebin/*.beam",
  "app/.eunit"
]}.
{eunit_opts, [
  verbose, {report,
    {eunit_surefire, [
      {dir, "."}
    ]}
  }
]}.
%%{deps, [
%%  {uuid, {git, "https://github.com/zklinger/erlang-uuid.git"}},
%%    {meck, {git, "https://github.com/eproxus/meck.git"}}
%%]}.
{require_opt_vsn,
  "R16"
}.